In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
#Reading in data sets and assigning a target variable, then concatenating the tables
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')
storage = true['text'].copy()


true['Fake?'] = 0
fake['Fake?'] = 1

#remove the headers for true articles


text = true['text'].str.split('-', 1, expand = True)
true['text'] = text[1]

origin = text[0]

#text of article at index = 8247 must be replaced

true['text'].iloc[8247] = storage.iloc[8247]
news = pd.concat([true, fake], ignore_index = True)

In [31]:
true.iloc[8247]

title        Obama drinks coconut water to cool down in Laos
text       U.S. President Barack Obama visited a street m...
subject                                         politicsNews
date                                      September 7, 2016
Fake?                                                      0
Name: 8247, dtype: object

In [33]:
#eda

print(len(news))

print(len(news[news['Fake?'] == 0]))

print(len(news[news['Fake?'] == 1]))

44898
21417
23481

In [43]:
#Feature engineering, first attempt

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(strip_accents = 'ascii', stop_words = 'english', max_features = 10000)
count_vectorizer = CountVectorizer(strip_accents = 'ascii', stop_words = 'english', max_features = 10000)
count_vectorizer_2 = CountVectorizer(strip_accents = 'ascii', stop_words = 'english')

In [40]:
news[news['text'].isna()]
news['text'].fillna('', inplace = True)

In [22]:
storage.iloc[8970]

' '

In [41]:
X = count_vectorizer.fit_transform(news['text'])
y= news['Fake?']

0          (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
1          (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
2          (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
3          (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
4          (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
                               ...
44893      (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
44894      (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
44895      (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
44896      (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
44897      (0, 7559)\t0.04316014467737996\n  (0, 151)\t...
Name: text, Length: 44898, dtype: object

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...","(0, 7559)\t0.04316014467737996\n (0, 151)\t...",politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",politicsNews,"December 29, 2017"
...,...,...,...,...
44893,McPain: John McCain Furious That Iran Treated ...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",Middle-east,"January 16, 2016"
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",Middle-east,"January 16, 2016"
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",Middle-east,"January 15, 2016"
44896,How to Blow $700 Million: Al Jazeera America F...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",Middle-east,"January 14, 2016"
44897,10 U.S. Navy Sailors Held by Iranian Military ...,"(0, 7559)\t0.04316014467737996\n (0, 151)\t...",Middle-east,"January 12, 2016"

In [42]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_validate

scoring = {'acc': 'accuracy',
           'prec': 'precision',
           'rec': 'recall'}

scores = cross_validate(MultinomialNB(), X, y, scoring=scoring,
                         cv=5)
print(scores.keys())
print(np.mean(scores['test_acc'])) 
print(np.mean(scores['test_prec']))
print(np.mean(scores['test_rec']))

dict_keys(['fit_time', 'score_time', 'test_acc', 'test_prec', 'test_rec'])
0.9217337707806708
0.922421760794639
0.9337331015955307

In [86]:
mnb = MultinomialNB()

In [87]:
mnb.fit(X,y)

MultinomialNB()

In [70]:
X

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
44893    0.0
44894    0.0
44895    0.0
44896    0.0
44897    0.0
Name: text, Length: 44898, dtype: float64

In [43]:
X.isna().sum()

0

In [44]:
X_2 = count_vectorizer.fit_transform(news['text'])

In [47]:
len(X)

44898